.App {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  flex-direction: column;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color:saddlebrown
}

.company {
  font-size: 30px;
  font-style: italic;
  padding: 10px;
}

.searchBox {
  margin-top: 10px;
  width: 350px;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
}


.typeName {
  padding-left: 60px;
  color:seagreen;
  font-size: 20px;
}
p {
  margin: 15px;
  font-size: 23px;
}


